services:
  lualatex-worker:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/workspace
    working_dir: /workspace
    tty: true
    stdin_open: true
    environment:
      TERM: xterm-256color
    command: /usr/bin/zsh
    image: lualatex-worker:latest
